cscope.*
.vscode
.project
gdb.log
*/*/gdb.log
tools/flashtool/chips/bl606p/device_tree/ro_params.dtb 
tools/flashtool/yoc_rfpa.bin
606p_e907_flash.init 
solutions/smart_speaker_v2/app/board/bl606p/firmware/c906fdv_fw.h

doc/*
toolchain/*
tools/flashtool/*
!tools/flashtool/.gitkeep

solutions/ipc_c906/*
solutions/ipc_e907/*
solutions/smart_speaker_chatgpt/*
solutions/smart_speaker_v2/*
solutions/smart_speaker_v2dsp/*

boards/bl606p_dvk_e907c/*
boards/bl606p_evb_c906c/*
boards/bl606p_evb_e907c/*
boards/bl606p_trv03_e907c/*